<!DOCTYPE html>
<!--creacion de carrito por Gabriela Parra-->

<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Carrito | 2023-FunkoShop</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
        <link rel="stylesheet" href="../css/index.css">
    </head>
    <body>
      <%- include('../partials/header.ejs') %>
      
        <main class="container">  <!--   Inicio tablas -->
                    <section class="title-car">
                        <h3 class="title-car_title">CARRITO DE COMPRAS</h3>
                    </section>
                    <section class="item-car">
                      <div class="car_content">
                        <div class="car_title">DETALLE DEL PRODUCTO</div>
                        <div class="car_title">CANTIDAD</div>
                        <div class="car_title">TOTAL</div>
                      </div>
                      <div class="car_content_article">
                        <div class="car_product _item">
                          <div class="product_img_content">
                            <div class="img_caja">
                              <img src="../multimedia/star-wars/baby-yoda-1.webp" alt="">
                            </div>
                            <div class="img_description">
                              <p class="img_desc_name">BABY YODA BLUEBALL</p>
                              <P class="img_desc_origen">STAR WARS</P>
                              <P class="img_desc_price">precio: $1799,99</P>
                            </div>
                        </div>
                    </div>
                    <div class="car_product_cant">
                      <input  class="car_product_num" type="text" name="quantity" id="quantity" placeholder="0">
                      <div class="car_product_buttons">
                        <button class="buttons" id="add" type="button">+</button>
                        <button class="buttons" id="subtract" type="button">-</button>
                      </div>
                    </div>
                    <div class="car_product_total">
                      <div class="product_total_sald">$ 3599,98</div>
                    </div>
                    <div class="product_total_close">
                      <iconify-icon icon="typcn:delete-outline"></iconify-icon>
                    </div>
                  </div>
                  

                  <div class="car_content_article">
                    <div class="car_product _item">
                      <div class="product_img_content">
                        <div class="img_caja">
                          <img src="../multimedia/pokemon/pidgeotto-1.webp" alt="">
                        </div>
                        <div class="img_description">
                          <p class="img_desc_name">PIDGEOTTO</p>
                          <P class="img_desc_origen">POKEMON</P>
                          <P class="img_desc_price">precio: $1799,99</P>
                        </div>
                      </div>
                    </div>
                    
                    <div class="car_product_cant">
                      <input class="car_product_num" type="text" name="cantidad" id="cantidad" placeholder="1">
                      <div class="car_product_buttons">
                        <button class="buttons" id="add" type="button">+</button>
                        <button class="buttons" id="subtract" type="button">-</button>
                      </div>
                    </div> 
                    <div class="car_product_total">
                      <div class="product_total_sald">$ 1799,98</div>
                    </div>
                    <div class="product_total_close">
                      <iconify-icon icon="typcn:delete-outline"></iconify-icon>
                    </div>
                  </div>
                </section>


        </section>
        <section class="section_resumen">
            <div class="resumen_content">
              <h2 class="resumen_title">RESUMEN</h2>
            </div>
            <form action="">
              <div class="tabla_content">
                <table class="tabla_resumen">
                  <tr class="tabla_td">
                    <td class="tabla_td black">CANTIDAD DE ELEMENTOS</td>
                    <td class="tabla_td value">3</td>
                  </tr>
                  <tr  class="tabla_td">
                    <td class="tabla_td black">SUBTOTAL</td>
                    <td class="tabla_td value">$5.399,97</td>
                  </tr>
                  <tr  class="tabla_td">
                    <td class="tabla_td black line">ENVIO</td>
                    <td class="tabla_td value line">$0,00</td>
                  </tr>
                  <tr  class="tabla_td">
                    <td class="tabla_td black line">TOTAL</td>
                    <td class="tabla_td value line">$5.399,97</td>
                  </tr>
                </table>
                <button class="resumen_button">IR A PAGAR</button>
              </div>
            </form>
          </section>
          </main>
               
          <%- include('../partials/footer.ejs') %>
        
        <script src="" async defer></script>
        <script src="../js/item.js"></script>
    </body>
</html>